@charset "UTF-8";


* {
    font-family: 'Courier New', Courier, monospace;
    /*height: 100%;*/
}
body{
background-image: linear-gradient(to bottom, #B7BF99, #0A7373);
background-attachment: fixed; 

}
main{

    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(94, 76, 18);
    width: 860px;
    padding: 10px;
    margin: auto;
    padding: 10px;
}
h1{
    color: #010221;
    text-align: center;
    text-shadow: 1px 1px 1px #B7BF99;
}
h2{
    color: #0A7373;
}
p {
    text-align: justify; 
}

